// @font-face {
//     font-family: swiss_light;
//     src: url("/asset/fonts/swiss-721-light.ttf");
// }
// @font-face {
//     font-family: swiss_reg;
//     src: url("/asset/fonts/swiss-721-regular.ttf");
// }
// @font-face {
//     font-family: swiss_med;
//     src: url("/asset/fonts/swiss-721-medium.ttf");
// }
// @font-face {
//     font-family: swiss_bold;
//     src: url("/asset/fonts/swiss-721-bold.ttf");
// }
// @font-face {
//     font-family: swiss_alt;
//     src: url("/asset/fonts/Swiss-721-alt.ttf");
// }
// @font-face {
//     font-family: swiss_alt_bold;
//     src: url("/asset/fonts/Swiss-721-alt-bold.ttf");
// }
// @font-face {
//     font-family: icf_reg;
//     src: url("/asset/fonts/ICF/OTF/IntegralCF-Regular.otf");
// }
//SATOSHI
@font-face {
    font-family: sat_light;
    src: url("/asset/fonts/SATOSHI/Satoshi-Light.ttf");
}

@font-face {
    font-family: sat_reg;
    src: url("/asset/fonts/SATOSHI/Satoshi-Regular.ttf");
}

@font-face {
    font-family: sat_med;
    src: url("/asset/fonts/SATOSHI/Satoshi-Medium.ttf");
}

@font-face {
    font-family: sat_bold;
    src: url("/asset/fonts/SATOSHI/Satoshi-Bold.ttf");
}