@import "media-queries";
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-smooth: always;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    background-color: $black;
    color: $bone;
}

a {
    text-decoration: none;
    color: $bone;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.link-animation {
    &::before,
     ::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: $bone;
        top: 130%;
        left: 0;
        pointer-events: none;
        @include media(media599) {
            display: none;
        }
    }
    &::before {
        content: "";
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
    }
    &:hover::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
    }
}

button {
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.hide-break {
    display: none;
    @include media(media599) {
        display: block;
    }
}

.mobile-remove {
    @include media(media599) {
        display: none !important;
    }
}